/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow-x: hidden;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background: linear-gradient(242deg, #5595e0 8.34%, #fff2f2 95.22%);
    color: #fff;
    padding: 15px;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
}

.logo-img{
    width: 150px;
    height: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background 0.3s;
}

.logout-form li {
    color:#fff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sidebar ul li a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
}

.toggle-btn {
    display: none;
    font-size: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    background: #5595e0;
    color: #fff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .content {
        margin-left: 0;
    }

    .toggle-btn {
        display: block;
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .content.open {
        margin-left: 250px;
    }
}
